body{
    margin: 0px;
    padding: 0px;
  }
  .navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: gray;
    align-items: center;
  }
  .name{
    margin-left: 100px;
    width: 50%;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
  }
  .menu{
    width: 50%;
  }
  .menu ul{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
  }
  .menu ul li{
    list-style: none;
    margin-left: 40px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
  }
/* flexible-container 
-----------------*/

.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.link-button{
    text-decoration: none;
    background-color:  rgb(231, 43, 137);
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700px;
}
h1{
    font-size: 40px;
    


}
.half-width img{
    width: 100%;

    
}
a{
    color: white;
}

.class{
    font-size: 15px;
    color:white;
    
}
.tools{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#class{
    padding: 5px;
    font-size: 15px;
    margin:15px;
}
/* container 
-----------------*/
.container{
    margin: 20px 120px ;
    margin-bottom: 100px;
    
}
.container>h2{
    text-align: center;
}
.information{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    padding: 10px;
}
.tools{
    height: 476px;
    width: 329px;
    display: flex;
    flex-direction: column;
    background:white;
    padding: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
div
.images{
    height:256px;
    width: 300px;
    padding:10px;
}
.color{
    color: #FFC014
}
span{
    color: black;
}
button{
    border: none;
    text-decoration: none;
    margin-left: 970px;
    color:#FF6363;
  }
/* Extra Section 
-----------------*/
.extra-section{
    margin: 30px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .extra-section h1{
    font-size: 40px;
  }
  .extra-section a{
    margin: auto;
  }
/* footer Section 
-----------------*/
#footer-wop{
    background-color:#0d1529;
    padding: 20px;
}
footer h1{
    text-align: center;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
}       
.social-icon{
   text-align: center;
    color: #aaaaaa;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 10px;   
}
.social-icon:hover{
    color: #333333;
}

footer  p{
    text-align: center;
    color: white;
    font-size: 10px;
}



@media screen and (max-width:688px ) {
    .container{
        margin: 20px;
    }
    .flexible-container{
        flex-direction: column-reverse;
    }
    .half-width{
        width: 100%;
    }
    .information{
        grid-template-columns: repeat(1 ,1fr);
    }
    .menu{
        display: none;
    }
    .name{
        text-align: center;
        font-size: 16px;
    }
    .navbar{
        background: none;
    }
    .extra-section{
        width: 100%;
        margin: 20px;
      }
      .extra-section h1{
        display: none;
      }
      .extra-section a{
        margin: 30px;
      }
      .extra-section img{
        width: 250px;
        height: 250px;
      }
      button{
        border: none;
        text-decoration: none;
        margin-top: 50px;
        margin-left: 270px;
        color:#FF6363;
      }